<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <title>注册</title>
</head>
<body>
<div>
    <h1>创建一个新账户</h1>
</div>
<p>-------------------------------------------</p>
<input type="text" class="username" name="username" placeholder="请输入用户名(少于12个字)" required maxlength="11" />
<input type="email" class="email" name="email" placeholder="请输入邮箱" required />
<input type="button" id="sms" onclick="sendSMS();settime(this)" value="免费获取验证码">
<input type="sms_num" class="sms_num" name="sms_num" placeholder="请输入验证码(区分大小写)" required />
<input type="phone" class="phone" name="phone" placeholder="请输手机号" required/>

<input type="password" class="password_1" name="password_1" placeholder="请输入密码" required minlength="6" maxlength="11"/>
<input type="password" class="password_2" name="password_2" placeholder="请再次确认密码" required minlength="6" maxlength="11"/>

<input type="button" value="创建并登录" onclick="regist()">

<script>
        function getQueryVariable(variable)
        {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
            }
            return null;
        }


	var countdown=60;
	function settime(obj) {
    	if (countdown == 0) {
        	obj.removeAttribute("disabled");
        	obj.value="免费获取验证码";
			countdown = 60;
        	return;
    	} else {
        	obj.setAttribute("disabled", true);
        	obj.value="重新发送(" + countdown + ")";
        	countdown--;
    	}
		setTimeout(function() {
    		settime(obj) }
    	,1000)
	}


    function regist() {
		var username = $('.username').val();
		var email = $('.email').val();
		var sms_num = $('.sms_num').val();
		var password_1 = $('.password_1').val();
		var password_2 = $('.password_2').val();
		var phone = $('.phone').val();
		var post_data = {"username":username,"email":email,'sms_num':sms_num,"password_1":password_1, "password_2":password_2,"phone":phone};

		//console.log(post_data)
		$.ajax({
			url: 'http://127.0.0.1:8000/v1/users',
			type: 'POST',
			//dataType 服务端的返回格式
			dataType: 'json',
			//json提交 start
			//将json对象 序列化成 json字符串
			data: JSON.stringify(post_data),
			//更改json提交时的Content-Type头的值
			contentType: 'application/json',
			//json提交 end
			success: function (res) {
				if (res.code == 200){
					alert('注册成功');
					window.localStorage.setItem('dstore_token', res.data.token);
					window.localStorage.setItem('dstore_user', res.username);
					window.location = '/index'

				}else{
					alert(res.error)
				}
			}
		})
	}

    function sendSMS() {
		//获取 email框的值
		var email = $('.email').val();
		var post_data = {"email":email};
		//发送ajax POST 请求,让后端发送短信
		//url: http://127.0.0.1:8000/v1/users/sms
		$.ajax({
			url: "http://127.0.0.1:8000/v1/users/sms",
			type:"POST",
			data: JSON.stringify(post_data),
			contentType: "application/json",
			dataType:"json",
			success: function (res) {
				if (res.code == 200){
					alert('验证码已发送到您输入的邮箱,请注意查收');
				}else{
					alert(res.error);
				}
			}
		})
	}

    </script>





</body>
</html>